/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -300px;
  color:white;
  display:flex;
  flex-flow: column nowrap;
}

.starter{
  width:100%;
  display:flex;
  flex-flow: column nowrap;
  /* justify-content:center; */
  /* align-items: center; */
}

.round{
  display:flex;
  flex-flow:row nowrap;
}

.versus{
  display:flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-items: center;
}


h1, h2, h3, p{
  display:flex;
  justify-content: center;
}
p{
  font-size:20px;
  font-weight:bold;
}

.player{
  width:40%;
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
}

.mid{
  width:20%;
  display:flex;
  flex-flow: column;
  align-items: center;
}


button{
  height:200px;
  width:200px;
  border-radius:50%;
  background:rgb(231, 48, 48);
  font-size:30px;
  font-weight:bold;
}

img{
  height: 200px;
  border:1px solid red;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
